@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Inter;
    font-weight: 300;
    src: url("fonts/Inter-Light.woff2");
}

@font-face {
    font-family: Inter;
    font-weight: 400;
    src: url("fonts/Inter-Regular.woff2");
}

@font-face {
    font-family: Inter;
    font-weight: 500;
    src: url("fonts/Inter-Medium.woff2");
}

@font-face {
    font-family: Inter;
    font-weight: 700;
    src: url("fonts/Inter-Bold.woff2");
}

body {
    font-family: 'Inter';
    font-style: normal;
    background-image: linear-gradient(90deg, #1a0828, #251B4B, #652385);
}

.sound {
    background-color: rgba(11, 11, 11, 0.7);
}