@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Inter;
    font-weight: 300;
    src: url("fonts/Inter-Light.woff2");
}

@font-face {
    font-family: Inter;
    font-weight: 400;
    src: url("fonts/Inter-Regular.woff2");
}

@font-face {
    font-family: Inter;
    font-weight: 500;
    src: url("fonts/Inter-Medium.woff2");
}

@font-face {
    font-family: Inter;
    font-weight: 700;
    src: url("fonts/Inter-Bold.woff2");
}

body {
    font-family: 'Inter';
    font-style: normal;
}

input[type=file]::file-selector-button {
    margin-right: 10px;
    border-width: 2px;
    border-color: #6d6d6d; 
    border-style: solid;
    background-color: transparent;
    padding: 5px 10px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: all .3s ease-in-out;
  }
  

.sound {
    background-color: rgba(11, 11, 11, 0.7);
}

.modal {
    background-color: rgba(11, 11, 11, 0.7);
}

.amethyst-bg {
    background-image: linear-gradient(90deg, #1a0828, #251B4B, #652385);
    color: #bf8eff
}

.amethyst-border {
    border-color: #bf8eff;
}

.amethyst-border-hover:hover {
    border-color: #bf8eff;
}

.emerald-bg {
    background-image: linear-gradient(90deg, #004d1a, #007f4f, #00b377);
    color: #aaffc3;
}

.emerald-border {
    border-color: #aaffc3;
}

.emerald-border-hover:hover {
    border-color: #aaffc3;
}

.ruby-bg {
    background-image: linear-gradient(90deg, #4b000f, #9b0031, #ff004f);
    color: #ffd1dc;
}

.ruby-border {
    border-color: #ffd1dc;
}

.ruby-border-hover:hover {
    border-color: #ffd1dc;
}

.sapphire-bg {
    background-image: linear-gradient(90deg, #00044b, #003b9b, #0064ff);
    color: #b3d1ff;
}

.sapphire-border {
    border-color: #b3d1ff;
}

.sapphire-border-hover:hover {
    border-color: #b3d1ff;
}

.topaz-bg {
    background-image: linear-gradient(90deg, #4b3e00, #9b7600, #ffbb00);
    color: #fff7cc;
}

.topaz-border {
    border-color: #fff7cc;
}

.topaz-border-hover:hover {
    border-color: #fff7cc;
}

.onyx-bg {
    background-image: linear-gradient(90deg, #0a0a0a, #333333, #4d4d4d);
    color: #e0e0e0;
}

.onyx-border {
    border-color: #e0e0e0;
}

.onyx-border-hover:hover {
    border-color: #e0e0e0;
}
